h1{background-color: green; color: orange;}
a{width: 20px; text-decoration: none;}
body{font-family: "Arial"; text-align: center;}
.exitbutton{border: 3px solid red; border-radius: 30px color: white;}
